.wrapper__main__card-form
  = form_with(model: @card, url: pay_cards_path, local: true, class: "card__form") do |form|
    .wrapper__main__card-form__title
      クレジットカード情報入力
    .wrapper__main__card-form__inner
      .wrapper__main__card-form__inner__numform
        .wrapper__main__card-form__inner__numform__title
          .wrapper__main__card-form__inner__numform__title__text
            カード番号
          = tag.span("必須", class: "mast")
        .wrapper__main__card-form__inner__numform__form
          = form.text_field :card_number, placeholder: "半角数字のみ", class: "form__number"
        .wrapper__main__card-form__inner__numform__images
          = image_tag('/material/logo/visa-curved.png', class: "company", size: "40x20")
          = image_tag('/material/logo/_Mastercard-256.png', class: "company", size: "30x20")
          = image_tag('/material/logo/1200px-Saison_card_logo.svg.png', class: "company", size: "30x20")
          = image_tag('/material/logo/jcb-256.png', class: "company", size: "30x20")
          = image_tag('/material/logo/american-express-straight.png', class: "company", size: "30x20")
          = image_tag('/material/logo/DinersClub.png', class: "company", size: "30x20")
          = image_tag('/material/logo/discover-curved.png', class: "company", size: "30x20")
      .wrapper__main__card-form__inner__dateform
        .wrapper__main__card-form__inner__dateform__title
          .wrapper__main__card-form__inner__dateform__title__text
            有効期限
          = tag.span("必須", class: "mast")
        .wrapper__main__card-form__inner__dateform__form
          = form.select :exp_month, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"], {include_blank: "---"}, class: "form__date"
          = tag.span("月", class: "exp_month")
          = form.select :exp_year, ["2030", "2029", "2028", "2027", "2026", "2025", "2024", "2023", "2022", "2021", "2020"], {include_blank: "---"}, class: "form__date"
          = tag.span("年", class: "exp_year")

      .wrapper__main__card-form__inner__code
        .wrapper__main__card-form__inner__code__title
          .wrapper__main__card-form__inner__code__title__text
            セキュリティコード
          = tag.span("必須", class: "mast")
        .wrapper__main__card-form__inner__code__form
          = form.text_field :card_cvc, placeholder: "カード背面４桁桁もしくは３桁の番号", class: "form__code"
          = form.submit "追加する", class: "form__btn"
