.wrapper__main__list
  %nav.wrapper__main__list__nav
    %ul.wrapper__main__list__nav__box
      %li.wrapper__main__list__nav__box__text__home
        マイページ
      %li.wrapper__main__list__nav__box__text
        = link_to 'お知らせ',''
      %li.wrapper__main__list__nav__box__text
        = link_to 'やることリスト',''
      %li.wrapper__main__list__nav__box__text
        = link_to 'いいね！一覧',''
      %li.wrapper__main__list__nav__box__text__sell
        -# ここはリンクを貼る
        = link_to '出品する', new_sell_path
      %li.wrapper__main__list__nav__box__text
        = link_to '出品した商品', myitem_show_searches_path
      %li.wrapper__main__list__nav__box__text
        = link_to 'ニュース一覧',''
      %li.wrapper__main__list__nav__box__text
        = link_to '評価一覧',''
      %li.wrapper__main__list__nav__box__text
        = link_to 'ガイド',''
      %li.wrapper__main__list__nav__box__text
        = link_to 'お問い合わせ',''
    
    %ul.wrapper__main__list__nav__box
    %h1.wrapper__main__list__nav__title 設定
    %ul.wrapper__main__list__nav__box
      %li.wrapper__main__list__nav__box__text
        = link_to 'プロフィール',''
      %li.wrapper__main__list__nav__box__text
        = link_to '発送元・発送元・お届け先住所',''
      %li.wrapper__main__list__nav__box__text__card
        支払い方法
      %li.wrapper__main__list__nav__box__text
        = link_to 'メール/パスワード',''
      %li.wrapper__main__list__nav__box__text
        = link_to '本人情報',''
      %li.wrapper__main__list__nav__box__text__logout
        = link_to 'ログアウト',''
    %ul.wrapper__main__list__nav__box
