= render partial: 'shared/header'
.main
  .main__visual
    .main__visual__inner
      .main__visual__inner__subtitle
        人生を変えるフリマアプリ
      .main__visual__inner__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
          フリマアプリです
      .main__visual__inner__icon
        .main__visual__inner__icon__apple
          = link_to image_tag('/material/logo/799px-Available_on_the_App_Store_(black).png', size: "210x60"), "#"
        .main__visual__inner__icon__google
          = link_to image_tag('/material/logo/unnamed.png', size: "220x60"), "#"
  .main__introduction
    .main__introduction__text
      FURIMAが選ばれる3つの理由
      .main__introduction__text__after-line
    .main__introduction__list
      .main__introduction__list__left
        .main__introduction__list__left__pic
          = image_tag("/material/pict/pict-reason-01.jpg", width: "100%")
          .main__introduction__list__left__pic__num
            1
        .main__introduction__list__left__title
          .main__introduction__list__left__title__blue
            3分
          .main__introduction__list__left__title__black
            ですぐに出品
        .main__introduction__list__left__text
          スマホで入力するだけで簡単に出品できる！
      .main__introduction__list__center
        .main__introduction__list__center__pic
          = image_tag("/material/pict/pict-reason-02.jpg", width: "100%")
          .main__introduction__list__center__pic__num
            2
        .main__introduction__list__center__title
          .main__introduction__list__center__title__blue
            シンプル
          .main__introduction__list__center__title__black
            で使いやすい
        .main__introduction__list__center__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .main__introduction__list__right
        .main__introduction__list__right__pic
          = image_tag("/material/pict/pict-reason-03.jpg",width: "100%")
          .main__introduction__list__right__pic__num
            3
        .main__introduction__list__right__title
          .main__introduction__list__right__title__black
            手数料
          .main__introduction__list__right__title__blue
            業界最安
        .main__introduction__list__right__text
          最大3%でお得に出品&購入！
  .main__middle-dl
    .main__middle-dl__inner
      .main__middle-dl__inner__title
        会員数日本一位
      .main__middle-dl__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br
          出品・購入回数も業界最多です！
          %br
            ほしかったあの商品に出会えるかもしれません。
      .main__middle-dl__inner__icon
        .main__middle-dl__inner__icon__apple
          = link_to image_tag('/material/logo/799px-Available_on_the_App_Store_(black).png', size: "210x60"), "#"
        .main__middle-dl__inner__icon__google
          = link_to image_tag('/material/logo/unnamed.png', size: "220x60"), "#"
  .main__features
    .main__features__text
      FURIMAの特徴
      .main__features__text__after-line
    .main__features__img
      .main__features__img__left
        .main__features__img__left__pic
          = image_tag("/material/icon/icon-01.png", width: "100%")
        .main__features__img__left__title
          簡単に売り買いできる
        .main__features__img__left__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .main__features__img__center
        .main__features__img__center__pic
          = image_tag("/material/icon/icon-03.png", width: "100%")
        .main__features__img__center__title
          売上金は即日振込みに対応
        .main__features__img__center__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .main__features__img__right
        .main__features__img__right__pic
          = image_tag("/material/icon/icon-04.png", width: "100%")
        .main__features__img__right__title
          様々な支払いに対応
        .main__features__img__right__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。|
    .main__pickup-categorize
      .main__pickup-categorize__title
        ピックアップカテゴリー
      .main__pickup-categorize__text
        = link_to "#" do
          新規投稿商品
      .main__pickup-categorize__item
        - @products.each do |product|
          - if product.status == false
            .main__pickup-categorize__item__left
              = link_to sell_path(product) do
                .main__pickup-categorize__item__left__pic
                  = image_tag("#{product.images.first.name}", width: "220px", height: "150px") 
                .main__pickup-categorize__item__left__introduction
                  .main__pickup-categorize__item__left__introduction__left
                    .main__pickup-categorize__item__left__introduction__left__name
                      = product.name
                    .main__pickup-categorize__item__left__introduction__left__price
                      = converting_to_jpy(product.price)
                    .main__pickup-categorize__item__left__introduction__left__display
                      (税込)
                  .main__pickup-categorize__item__left__introduction__right
                    .main__pickup-categorize__item__left__introduction__right__icon
                      = icon('far', 'star')
                    .main__pickup-categorize__item__left__introduction__right__num
                      0
          - else product.status == true
            .main__pickup-categorize__item__left
              = link_to sell_path(product) do
                .main__pickup-categorize__item__left__pic
                  = image_tag("#{product.images.first.name}", width: "220px", height: "150px") 
                  .main__pickup-categorize__item__left__pic__logo
                    = image_tag("/material/logo/pp_kanbais1_3.jpg", width: "220px", height: "150px")
                .main__pickup-categorize__item__left__introduction
                  .main__pickup-categorize__item__left__introduction__left
                    .main__pickup-categorize__item__left__introduction__left__name
                      = product.name
                    .main__pickup-categorize__item__left__introduction__left__price
                      = converting_to_jpy(product.price)
                    .main__pickup-categorize__item__left__introduction__left__display
                      (税込)
                  .main__pickup-categorize__item__left__introduction__right
                    .main__pickup-categorize__item__left__introduction__right__icon
                      = icon('far', 'star')
                    .main__pickup-categorize__item__left__introduction__right__num
                      0


    .main__pickup-burand
      .main__pickup-burand__title
        ピックアップブランド
      .main__pickup-burand__text
        = link_to "#" do
          アーカイバ
      .main__pickup-burand__item
        - @products.each do |product|
          - if product.status == false
            .main__pickup-burand__item__left
              = link_to sell_path(product) do
                .main__pickup-burand__item__left__pic
                  = image_tag("#{product.images.first.name}", width: "220px", height: "150px") 
                .main__pickup-burand__item__left__introduction
                  .main__pickup-burand__item__left__introduction__left
                    .main__pickup-burand__item__left__introduction__left__name
                      = product.name
                    .main__pickup-burand__item__left__introduction__left__price
                      = converting_to_jpy(product.price)
                    .main__pickup-burand__item__left__introduction__left__display
                      (税込)
                  .main__pickup-burand__item__left__introduction__right
                    .main__pickup-burand__item__left__introduction__right__icon
                      = icon('far', 'star')
                    .main__pickup-burand__item__left__introduction__right__num
                      34
          - else product.status == true
            .main__pickup-categorize__item__left
              = link_to sell_path(product) do
                .main__pickup-categorize__item__left__pic
                  = image_tag("#{product.images.first.name}", width: "220px", height: "150px")
                  .main__pickup-categorize__item__left__pic__logo
                    = image_tag("/material/logo/pp_kanbais1_3.jpg", width: "220px", height: "150px")
                .main__pickup-categorize__item__left__introduction
                  .main__pickup-categorize__item__left__introduction__left
                    .main__pickup-categorize__item__left__introduction__left__name
                      = product.name
                    .main__pickup-categorize__item__left__introduction__left__price
                      = converting_to_jpy(product.price)
                    .main__pickup-categorize__item__left__introduction__left__display
                      (税込)
                  .main__pickup-categorize__item__left__introduction__right
                    .main__pickup-categorize__item__left__introduction__right__icon
                      = icon('far', 'star')
                    .main__pickup-categorize__item__left__introduction__right__num
                      0
 
= render partial: 'shared/lower-part'


