.buys-new
  .buys-new__headicon
    = link_to image_tag('/material/logo/logo.png', size: "100x29"), root_path
  .buys-new__main
    .buys-new__main__title
      購入内容の確認
    .buys-new__main__image
      .buys-new__main__image__pict
        = image_tag(@sell.images.first.name.to_s,size: "180x180")
      .buys-new__main__image__information
        .buys-new__main__image__information__text
          .buys-new__main__image__information__text__burand
            -# = @sell.brand.name
          .buys-new__main__image__information__text__genre
            = @sell.category.parent.name
          .buys-new__main__image__information__text__categorize
            = @sell.category.name
        .buys-new__main__image__information__name
          = @sell.name
        .buys-new__main__image__information__price
          .buys-new__main__image__information__price__money
            = converting_to_jpy(@sell.price)
          .buys-new__main__image__information__price__text1
            (税込)
          .buys-new__main__image__information__price__text2
            送料込み

    .buys-new__main__price
      .buys-new__main__price__title
        .buys-new__main__price__title__text
          支払い金額
        .buys-new__main__price__title__money
          .buys-new__main__price__title__money__number
            = converting_to_jpy(@sell.price)
      .buys-new__main__price__point
        .buys-new__main__price__point__box
          = icon('fas', 'stop')
        .buys-new__main__price__point__text
          ポイントを使用 (所持ポイント: P0)

    .buys-new__main__way
      .buys-new__main__way__text
        支払い方法
      - if @card.empty?
        .buys-new__main__way__link
          = link_to new_card_path do
            .buys-new__main__way__link__icon
              = icon('fas', 'plus-circle')
            .buys-new__main__way__link__text
              マイページでカードを登録する
      - else
        = render partial: "cards/show"

    .buys-new__main__btn
      - if @card.empty?
        = link_to new_card_path do
          カードを登録してください
      - else
        = link_to('購入する', buy_sell_buys_path(@sell), action: :pay, method: :post)
  = render partial: 'shared/footer'
