.wrapper
  = render 'shared/header'
  
  .search-main
    .search-main__right-contents
      = tag.span("#{@search_word}", class: "search-main__right-contents__keyword")
      の検索結果
      = tag.br
      = tag.br
      - if  @products.blank?
        検索結果がありませんでした。
      - else
        .search-main__right-contents__images
          - @products.each do |p|
            .search-main__right-contents__images__list
              .search-main__right-contents__images__list__image
                = image_tag("#{p.images.first.name}", width: "220px", height: "150px")
              .search-main__right-contents__images__list__name
                = p.name
              .search-main__right-contents__images__list__price
                = converting_to_jpy(p.price)

  = render 'shared/lower-part'