.wrapper
  .sell-header
    = link_to image_tag('/material/logo/logo.png', width: '140'), root_path

  = form_with(model: nil, url: nil, local: true, html: { class: "sell-main" }) do |f|
    = tag.h2("商品の情報を入力", class: "sell-main__title")
    .sell-main__image
      .sell-main__image__title
        = f.label :photos, "出品画像", class: "sell-main__image__title--text"
        = tag.span("必須", class: "must")
      = tag.br
      = tag.span("最大4枚までアップロードできます", class: "sell-main__image__caution")
      = tag.br
      = f.file_field(:photos, multiple: true, class: "sell-main__image__photos-box", accept: 'image/png,image/gif,image/jpeg')
    .sell-main__product-name
      .sell-main__product-name__title
        = f.label :name, "商品名", class: "sell-main__product-name__title--text"
        = tag.span("必須", class: "must")
      = tag.br
      = f.text_field :name, class:"sell-main__product-name__box", placeholder: "40文字まで"
    .sell-main__product-description
      .sell-main__product-description__title
        = f.label :discription, "商品の説明", class: "sell-main__product-description__title--text"
        = tag.span("必須", class: "must")
      = tag.br
      = f.text_area :discription, rows: "6", class:"sell-main__product-description__box", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

    .sell-main__product-details
      .sell-main__product-details__title
        商品の詳細
      .sell-main__product-details__contents
        .sell-main__product-details__contents__category
          .sell-main__product-details__contents__category__title
            = f.label :category, "カテゴリー", class: "sell-main__product-details__contents__category__title--text"
            = tag.span("必須", class: "must")
          = tag.br
          = f.select :category, ["メンズ", "レディース", "ベビー・キッズ"], {include_blank: "---"}, class: "sell-main__product-details__contents__category__lists"
        .sell-main__product-details__contents__brand
          .sell-main__product-details__contents__brand__title
            = f.label :brand, "ブランド", class: "sell-main__product-details__contents__brand__title--text"
            = tag.span("必須", class: "must")
          = tag.br
          = f.text_field :name, class:"sell-main__product-details__contents__brand__lists", placeholder: "例）シャネル"
        .sell-main__product-details__contents__condition
          .sell-main__product-details__contents__condition__title
            = f.label :condition, "商品の状態", class: "sell-main__product-details__contents__condition__title--text"
            = tag.span("必須", class: "must")
          = tag.br
          = f.select :condition, ["新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"], {include_blank: "選択してください"}, class: "sell-main__product-details__contents__condition__lists"
    .sell-main__product-delivery
      .sell-main__product-delivery__title
        配送について
      .sell-main__product-delivery__contents
        .sell-main__product-delivery__contents__who-cares
          .sell-main__product-delivery__contents__who-cares__title
            = f.label :whocares, "配送料の負担", class: "sell-main__product-delivery__contents__who-cares__title--text"
            = tag.span("必須", class: "must")
          = tag.br
          = f.select :whocares, ["送料込み(出品者負担)", "着払い(購入者負担)"], {include_blank: "選択してください"}, class: "sell-main__product-delivery__contents__who-cares__lists"
        .sell-main__product-delivery__contents__where-from
          .sell-main__product-delivery__contents__where-from__title
            = f.label :wherefrom, "配送元の地域", class: "sell-main__product-delivery__contents__where-from__title--text"
            = tag.span("必須", class: "must")
          = tag.br
          = f.select :wherefrom, ["北海道", "青森"], {include_blank: "選択してください"}, class: "sell-main__product-delivery__contents__where-from__lists"
        .sell-main__product-delivery__contents__how-long
          .sell-main__product-delivery__contents__how-long__title
            = f.label :howlong, "発送までの日数", class: "sell-main__product-delivery__contents__how-long__title--text"
            = tag.span("必須", class: "must")
          = tag.br
          = f.select :howlong, ["1~2日で発送", "2~3日で発送", "4~7日で発送"], {include_blank: "選択してください"}, class: "sell-main__product-delivery__contents__how-long__lists"
    .sell-main__product-price
      .sell-main__product-price__title
        販売価格（¥300〜9,999,999）
      .sell-main__product-price__contents
        .sell-main__product-price__contents__selling-price
          .sell-main__product-price__contents__selling-price__title
            = f.label :name, "販売価格", class: "sell-main__product-price__contents__selling-price__title--text"
            = tag.span("必須", class: "must")
          = tag.span("¥")
          = f.text_field :name, class:"sell-main__product-price__contents__selling-price__box", placeholder: "例）300"
        .sell-main__product-price__contents__sales-commission
          = f.label :name, "販売価格", class: "sell-main__product-price__contents__sales-commission__title"
          = tag.span("ー", class:"sell-main__product-price__contents__selling-price__box")
        .sell-main__product-price__contents__sales-profit
          = f.label :name, "販売利益", class: "sell-main__product-price__contents__sales-profit__title"
          = tag.span("ー", class: "sell-main__product-price____contentssales-profit__price")

    .sell-main__button
      = f.submit "出品する", class: "sell-main__button__sell"
      = tag.br
      = link_to "#", class: "sell-main__button__back" do
        もどる
    .sell-main__caution
      - my_action = link_to '行為', '#'
      - my_products = link_to '出品物', '#'
      - my_imitation = link_to '偽ブランド品', '#'
      - my_swag = link_to '偽ブランド品', '#'
      - my_terms = link_to '加盟店規約', '#'
      禁止されている#{my_action}および#{my_products}を必ずご確認ください。#{my_imitation}や#{my_swag}などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして#{my_terms}に同意したことになります。

  .sell-footer
    .sell-footer__cautions
      .sell-footer__cautions__privacy-policy
        プライバシーポリシー
      .sell-footer__cautions__terms-of-service
        フリマ利用規約
      .sell-footer__cautions__notation
        特定商取引に関する表記
    .sell-footer__icons
      .sell-footer__icons--logo
        = link_to image_tag('/material/logo/logo.png', width: '160'), root_path
      .sell-footer__icons--text
        © FURIMA