.wrapper
  = render 'shared/header'

  .navigation-bar
  -#   = tag.ul class: "navigation-bar__contents" do
  -#     = tag.li link_to('FURIMA', "/", class: "navigation-bar__contents__root")
  -#     = tag.li link_to(@sell.category.parent.parent.name, "#", class: "navigation-bar__contents__category navi-link")
  -#     = tag.li link_to(@sell.category.parent.name, "#", class: "navigation-bar__contents__category navi-link")
  -#     = tag.li link_to(@sell.category.name, "#", class: "navigation-bar__contents__category navi-link")
  -#     = tag.li link_to(@sell.name, "#", class: "navigation-bar__contents__item navi-link active")

  .sell-product-detail
    = tag.h2(@sell.name, class: "sell-product-detail__title")
    = tag.ul class: "sell-product-detail__items" do
      = tag.li image_tag "#{@sell.images.first.name.to_s}", class: "sell-product-detail__items__main-image"
      = tag.ul class: "sell-product-detail__items__sub-image" do
        - @sell.images.each do |i|
          = tag.li image_tag i.name.to_s, class: "sell-product-detail__items__sub-image"
    .sell-product-detail__price
      - if @sell.status == false
        = converting_to_jpy(@sell.price)
      - if @sell.status == true
        売却済
      .sell-product-detail__price__detail
        - if @sell.status == false
          = tag.span("(税込)")
          = tag.span("送料込み")

    .sell-product-detail__subtitle
      = tag.h3(@sell.name)

    .sell-product-detail__table
      %table
        %tbody
          %tr
            %th
              出品者
            %td
              = @sell.user.nickname
          %tr
            %th
              商品の説明
            %td
              = @sell.description
          %tr
            %th
              カテゴリー
            %td
              = tag.div link_to(@sell.category.parent.parent.name, "#")
              = tag.div link_to(@sell.category.parent.name, "#")
              = tag.div link_to(@sell.category.name, "#")
          -# %tr
          -#   %th
          -#     ブランド
          -#   %td
          -#     = @sell.brand.name
          %tr
            %th
              商品のサイズ
            %td
              = @sell.size_i18n
          %tr
            %th
              商品の状態
            %td
              = @sell.condition_i18n
          %tr
            %th
              配送料の負担
            %td
              = @sell.shipping.parent.name
          %tr
            %th
              発送元の地域
            %td
              = tag.div link_to(@sell.shipping_where_i18n , "#")
          %tr
            %th
              発送日の目安
            %td
              = @sell.shipping_day_i18n

    .sell-product-detail__option
      = tag.ul class: "sell-product-detail__option__favorite" do
        = tag.li icon('fas', 'star')
        = tag.li "お気に入り 0"
      - if user_signed_in? && current_user.id == @sell.user_id
        = tag.ul class: "sell-product-detail__option__edit" do
          = tag.li link_to('編集', "#")
        = tag.ul class: "sell-product-detail__option__destroy" do
          = tag.li link_to('削除', sell_path, method: :delete)
      - elsif user_signed_in?
        - if @sell.status == false
          = tag.ul class: "sell-product-detail__option__buy" do
            = tag.li link_to('購入画面に進む', new_sell_buy_path(@sell))
        - else @sell.status == true
          = tag.ul class: "sell-product-detail__option__buy" do
            = tag.li link_to('トップページに戻る', root_path)
      - else
        = tag.ul class: "sell-product-detail__option__buy" do
          = tag.li link_to('新規登録またはログイン', root_path)

      = tag.ul class: "sell-product-detail__option__report" do
        = tag.li icon('fas', 'flag')
        = tag.li link_to('不適切な商品の通報', "#")

  .sell-product-comment
    = form_with(model: nil, url: nil, local: true, html: { class: "sell-product-comment__form" }) do |f|
      = f.text_area :comment, rows: "4", class:"sell-product-comment__form__field"
      = tag.p "相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。"
      = button_tag type: 'submit', class: "sell-product-comment__form__submit" do
        = icon('fas', 'comment')
        コメントする

  .sell-product-links
    .sell-product-links__prev
      = link_to('前の商品', "#")
    .sell-product-links__next
      = link_to('後ろの商品', "#")
  
  .sell-product-relatedItems
    = link_to(@sell.category.parent.parent.name, "#")

  = render 'shared/lower-part'
